body {
    background-color: rgb(139, 137, 137);
    background-image: url(i.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 1200px;
    height: 50vh;
    position: relative;
    overflow: auto;
    display: block;
    margin: auto;
    padding-top: 15cm;
}

.table1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem;
    background-color: rgb(227, 225, 235);
    border-bottom: 1px solid var(--primary);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    height: 2.5cm;
}

.table1 a:hover {
    color:#666b6c;
}

.table2 {
    padding-top: 4.8cm;
    padding-left: 2cm;
    padding-right: 2cm;
}

.table3 {
    background-color: rgb(224, 221, 221);
    position: relative;
    position: absolute;
    top: 90%;
    width: 100%;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

.table4 {
    background-color: rgb(224, 221, 221);
    position: relative;
    position: absolute;
    top: 120%;
    width: 100%;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

.td1 {
    padding-left: 6cm;
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.td2 {
    padding-left: 3.5cm;
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.td3 {
    padding-left: 3.5cm;
    padding-right: 2.5cm;
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.td5 {
    padding-left: 4cm;
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.td5 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-left: 0.6cm;
}

.td6 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}

.td7 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}

.td8 {
    border-radius: 20px;
    background-color: rgb(33,94,157);
    margin-right: 4cm;
}

.pro {
    padding-left:2cm;
    font-size: 35px;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    text-decoration: none;
    color: white;
}

.img1 {
    width: 35%;
    padding-left: 20cm;
    padding-top: 0cm;
}

.img2 {
    size: 10px;
    width: 30%;
    padding-top: 0cm;
    padding-left: 0cm;
}

.img3 {
    size: 10px;
    width: 50%;
    padding-left: 0.4cm;
}

.img4 {
    size: 10px;
    width: 30%;
    padding-left: 0.4cm;
}

.img5 {
    size: 10px;
    width: 30%;
    padding-left: 0.4cm;
}

.p1 {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.1;

    background: linear-gradient(90deg, #30343b, #8c96a3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    top: 20%;
    left: 0cm;
}

.p2 {
    font-family: 'Poppins', sans-serif;
    font-size: 23px;
    font-weight: 500;
    color: #6f7782;
    letter-spacing: 0.3px;
    margin-top: 8px;
    position: absolute;
    top: 30%;
    left: 0cm;
}

.p3 {
    font-size: 15px;
    font-weight: normal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    color: lch(23.72% 0.92 19.33 / 0.945);
    top: 38%;
    left: 0cm;
}

.p4 {
    font-size: 15px;
    font-weight: normal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    color: lch(23.72% 0.92 19.33 / 0.945);
    top: 42.5%;
    left: 0cm;
}

.p5 {
    font-size: 15px;
    font-weight: normal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    color: lch(23.72% 0.92 19.33 / 0.945);
    top: 40.5%;
    left: 0cm;
}

.t1 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 1cm;
}

.t2 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 1cm;
}

.t3 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.t4 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    justify-content: center;
}

.d1 {
    border-radius: 15px;
    flex: 1;
    padding: 20px;
    max-width: 300px;
    text-align: center;
    margin: 10px;
    border-right: 1px solid #858383;
}

.d2 {
    border-radius: 15px;
    flex: 1;
    padding: 20px;
    max-width: 300px;
    text-align: center;
    margin: 10px;
    border-right: 1px solid #858383;
}

.d3 {
    border-radius: 15px;
    flex: 1;
    padding: 20px;
    max-width: 300px;
    text-align: center;
    margin: 10px;
    border-right: 1px solid #858383;
}

.d4 {
    border-radius: 15px;
    flex: 1;
    padding: 20px;
    max-width: 300px;
    text-align: center;
    margin: 10px;
}

.tr {
    justify-content: center;
    padding left: 50%;
}

.y {
    height: 10cm;
}
